* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
.main-div {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
}
.main-form {
  flex: 0 0 20%;
}
.table-main {
  flex: 0 0 80%;
}
/* header */
.header {
  text-align: center;
}

/* form */
form {
  border: 1px solid black;
  padding: 2px;
  border-radius: 8px;
  margin-top: 7px;
}
#applicationForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}
#applicationForm input,
#applicationForm select {
  box-shadow: none;
  padding: 5px;
  width: 100%;
}

form input,
form select {
  height: 32px;
  width: 250px;
  line-height: 32px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: medium;
  background-color: white;
}
#notes {
  font-size: 17px;
}
#jobType,
#status {
  line-height: 18px;
}

/*Button CSS */
#submitBtn {
  background-color: rgb(10, 10, 10);
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 8px;
  font-size: 16px;
}
#submitBtn:hover {
  background-color: rgb(109, 109, 109);
  cursor: pointer;
}
button {
  background-color: rgb(10, 10, 10);
  color: white;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 14px;
  font-size: 12px;
}
button:hover {
  background-color: rgb(109, 109, 109);
  cursor: pointer;
}

/* table css */
table {
  margin-top: 10px;
  width: 100%;
  border: 1px solid black;
}
td {
  padding: 5px;
  text-align: start;
}
tr {
  border: 1px solid black;
}
.table-main {
  flex: 0 0 80%;
  width: 100%;
  overflow-x: auto;
}
th {
  border-bottom: 2px solid black;
  padding: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: start;
  min-width: 120px;
}
table {
  border-collapse: collapse;
}
button.edit,
button.delete {
  margin-right: 5px;
}
#clearBtn {
  display: none;
}
/*edit delete btn */
.delete,
.edit {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: 70px;
  height: 23px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 2px bisque;
}

/* media queies */
@media screen and (max-width: 600px) {
  .main-div {
    flex-direction: column;
    padding: 0px;
  }
  .main-form,
  .table-main {
    flex: 0 0 100%;
  }
  .header {
    font-size: small;
  }
}
@media screen and (max-width: 900px) {
  .main-div {
    flex-direction: column;
  }
  .main-form,
  .table-main {
    flex: 0 0 100%;
    padding: 10px;
  }
  .delete {
    margin-top: 2px;
  }
  #date {
    min-width: 100px;
  }
}
