* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
.main-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.main-form {
  flex: 0 0 20%;
}

/* header */
.header {
  text-align: center;
}
/* searchBox */
#searchBox {
  padding-left: 8px;
  position: absolute;
}
#cancel {
  margin-top: 4px;
  position: relative;
  right: 150px;
}
#search {
  margin-left: 280px;
}
/* form */
form {
  padding: 2px;
  margin-top: 12px;
}
#applicationForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}
#applicationForm input,
#applicationForm select {
  box-shadow: none;
  padding: 5px;
  width: 100%;
}

form input,
form select {
  height: 32px;
  width: 250px;
  line-height: 32px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: medium;
  background-color: white;
}
#notes {
  padding: 3px;
  font-size: 17px;
  min-height: 60px;
  field-sizing: content;
}
#jobType,
#status {
  line-height: 18px;
}
/*validation error */
.validation-error {
  color: red;
  line-height: 0.7;
  font-size: small;
}

/*Button CSS */
button {
  background-color: rgb(10, 10, 10);
  color: white;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 14px;
  font-size: 12px;
}
button:hover {
  background-color: rgb(109, 109, 109);
  cursor: pointer;
}

/* table css */

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  padding: 5px;
  text-align: start;
}

.table-main {
  flex: 0 0 80%;
  width: 100%;
  overflow-x: auto;
}
th {
  border-bottom: 2px solid black;
  padding: 3px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: start;
  min-width: 120px;
}
.notes {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
}

.model {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-container {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}
.modal-container > p {
  font-size: larger;
  margin-bottom: 30px;
}
#closeModalBtn,
#confirmModalBtn,
#closeModalBtn1 {
  margin-top: 10px;
  font-size: large;
  margin-inline: 30px;
}

/* media queies */
@media screen and (max-width: 600px) {
  .main-div {
    flex-direction: column;
  }
  .main-form,
  .table-main {
    flex: 0 0 100%;
  }
  .table-main {
    margin-top: 5px;
  }
  .action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 140px;
  }
  .header {
    font-size: small;
  }
  .modal-container {
    width: 95%;
    padding: 15px;
  }
}
